body{
    color:white;
    background-color: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 18px;
    color: rgb(238, 241, 245);
}

section{
    background: rgb(158, 100, 212);
    padding-bottom: 20px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%
}

h1{
    font-size: 40px
}

p{
    font-size: 20px
}